/* project.scss */

/* ---------------------------------------------------------------------
 Project-specific generic element declarations
------------------------------------------------------------------------ */
@use "utils/_utils" as *;

* {
	box-sizing: border-box;
}

html {
	-webkit-overflow-scrolling: touch;
	min-height: -webkit-fill-available;
	
	@media ( prefers-reduced-motion: no-preference ) {
		scroll-behavior: smooth;
	}

}

body {
	min-height: 100dvh;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	background: var(--color-primary);
	color: var(--color-secondary);
	font-family: var(--ff-messina-serif);
	font-weight: 400;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;

	> main {
		flex: 1 1 0%;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}

ol, ul {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

a {
	color: inherit;
}


/* ---------------------------------------------------------------------
	Styles
------------------------------------------------------------------------ */
body {
	font-family: var(--ff-lazzer);
	font-size: clamp(24px,2.6vw,45px);
	position: relative;

	.main,
	.footer {
		margin: 0 auto;
		padding: 0 clamp(.625em, 4.5vw, 1.7777777778em);
		width: 100%;
		max-width: 37.5555555556em;
	}

	.main {
		padding-top: 1.25em;
	}
}

h1 {
	font-family: var(--ff-swear-deck);
	font-size: clamp(2.6666666667em, 10vw, 3.3333333333em);
	font-weight: 500;
	line-height: 0.8;
	letter-spacing: -0.03em
}

.intro,
.outro {
	margin-bottom: 4em;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	font-weight: 400;
	line-height: 1.25;

	p {
		margin-bottom: 1.2em;
		max-width: 23em;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.intro {
	margin-top: 2.85em;
	padding-top: 2.22em;
	border-top: 1px solid;
}

.outro {
	margin-bottom: 2.6em;
	padding-bottom: 6em;
	border-bottom: 1px solid;

	p {
		text-align: right;

		span {
			display: block;

			@include breakpoint(sm) {
				br {
					display: none;
				}
			}
		}
	}
}

.footer {
	.footer__inner {
		padding: 0 0 2.75em 0;
		display: flex;
		flex-direction: column;
		align-items: center;

		svg {
			margin-bottom: 2.0833333333em;
			width: 74px;
			height: 74px;
		}
	
		a {
			font-family: var(--ff-lazzer);
			font-size: clamp(0.875rem,1.125vw,1rem);
			font-weight: 500;
			line-height: 1.25;
			letter-spacing: 0.25em;
			text-transform: uppercase;
			text-underline-offset: 0.6875em;
			transition: text-decoration-color .25s ease-out;

			@media (hover: hover) {
				&:hover {
					text-decoration-color: transparent;
					transition: text-decoration-color .25s ease-in;
				}
			}
		}

		@include breakpoint(md) {
			flex-direction: row-reverse;
			justify-content: space-between;

			svg {
				margin-bottom: 0;
			}
		}

		@include breakpoint(xl) {
			display: block;
			position: relative;

			svg {
				inset: auto auto 2.5555555556em calc(50% - 37px);
				position: absolute;
			}
		}
	}
}




.gradient-element {
	inset: 0;
	position: absolute;
	pointer-events: none;
	background-clip: text;
	-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 500px 500px;
		background-position: var(--x) var(--y);
		background-repeat: no-repeat;
}